@import '/variables.scss';

.squad-player {
  width: 100%;
  height: 50px;
  text-align: center;
  background: $secondary;
  margin: 10px 0;
  line-height: 50px;
  cursor: pointer;
}
.content {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
.squad, .sidebar {
  flex: 1 1 0;
  overflow-y: auto;
}
.highlight {
  background-color: $active;
}
