@import '/variables.scss';

.squad-player {
  width: 100%;
  margin: 10px 0;
  background: $secondary;
  .name {
    height: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
  }
}
.content {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
.squad, .sidebar {
  flex: 1 1 0;
  overflow-y: auto;
}
.squad .highlight {
  padding-bottom: 10px;
  background-color: $active;
}

.sidebar {
  margin: 0 0 0 20px;
  font-size: 16px;
}
